# Server port
PORT=5000

# Allow your frontend origin in dev
CORS_ORIGIN=http://localhost:3000

# Where to send contact emails
MAIL_TO=gabiaseh@gmail.com
MAIL_FROM="GABIA Web" <gabiaseh@gmail.com>

# Gmail SMTP
# Requiere 2FA + "App Password" (Google Account -> Security -> App passwords)
# No uses tu contraseña normal.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=gabiaseh@gmail.com
SMTP_PASS=oqzo uwbh vhcp djgh


# Alternativa (STARTTLS):
# SMTP_PORT=587
# SMTP_SECURE=false

# Optional: send an autoreply to the sender
SEND_AUTOREPLY=false
